.layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
}

.main {
  background-color: var(--bg-card);
  padding: 5rem;
  border-radius: var(--main-border-radius);
  box-shadow: var(--shadow-soft);
}