<header class="header">
  <div class="container">
    <div class="logo">
      <img src="logo icon.svg" class="icon">
      <span class="brand sharp-font-boldest">CinePremium</span>
    </div>
    <nav class="nav">
      <a class="nav-item">
        <img src="home icon.svg" alt=""> Home
      </a>
      <a class="nav-item">
        <img src="movies icon.svg"> Movies
      </a>
    </nav>
    <div class="actions">
      <button class="icon-btn">
        <img src="theme icon.svg">
      </button>
      <button class="btn">
        <img src="sign up icon.svg"> Sign Up
      </button>
      <button class="btn">
        <img src="log in icon.svg"> Login
      </button>
    </div>
  </div>
</header>