@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-accent: #8D495F;
  --bg-color: #ffffff;
  --text-main: #64748B;
  --text-muted: #888888;
  --btn-clicked: #3B061C;
  --bg-card: #F0F0F0;
  --shadow-soft: 8px 8px 16px rgba(0, 0, 0, 0.1);
  --selected-green: #2D5A27;
  --unavailable-seat: #E5E7EB;
  --inner-shadow: inset -4px -4px 8px 2px #FFFFFF,
    inset 4px 4px 8px 2px #D1D9E6;

  --inner-shadow-light: inset -4px -4px 8px 2px #FFFFFF,
    inset 4px 4px 8px 2px #D1D9E6;

  --inner-shadow-dark: inset -3px -3px 6px rgba(255, 255, 255, 0.1),
    inset 3px 3px 6px rgba(0, 0, 0, 0.4);

  --inner-shadow-selected: inset -3px -3px 6px rgba(255, 255, 255, 0.15),
    inset 3px 3px 6px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #f8f9fa;
  margin: 0;
}

/* Clean way to set default font for everything except buttons */
:where(*:not(button)) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.sharp-font-thin {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.sharp-font-meduim {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sharp-font-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.sharp-font-boldest {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.regular-font-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.regular-font-meduim {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.regular-font-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.regular-font-boldest {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


.container {
  width: 75%;
  margin-inline: auto;
}